.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCardHeader {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCardDiv {
    display: flex;
    flex-direction: column;
}

.tw-followCardSpan {
    opacity: .6;
}

.tw-followCardImg {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCardButton {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid black;
}

.tw-followCardButton.is-following { 
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
}

.tw-followCardButton:hover {
    background-color: #fff;
    transition: .3s ease background-color;
}


.tw-followCardButton.is-following:hover{ 
    opacity: .7;
    background: rgb(122, 29, 29);
    border: rgb(122, 29, 29);
    color: red;
    transition: .5sec;
}

.tw-followCardButton.is-following:hover .tw-followCard-stopFollow{
    display: block; 
}

.tw-followCard-stopFollow {
    display: none;
}

.tw-followCard-text{
    display: block;
}

.tw-followCardButton.is-following:hover .tw-followCard-text {
    display: none;
}