.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCardHeader {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCardDiv {
    display: flex;
    flex-direction: column;
}

.tw-followCardSpan {
    opacity: .6;
}

.tw-followCardImg {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCardButton {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid black;
}

.tw-followCardButton.is-following { 
    border: 1px solid red;
}

.tw-followCardButton:hover {
    background-color: #89f;
    transition: .3s ease background-color;
}


.tw-followCardButton.is-following:hover{ 
    background: red;
}